@media all and (min-width: 420px) {
    #main {
        padding: 60px 0;
        margin: 0 auto;
        max-width: 420px;
    }
}

@media all and (min-width: 420px) {
    #res {
        padding: 60px 0;
        margin: 0 auto;
        max-width: 560px;
    }
}

#spinner, #res {
    display: none;
}

.nav {
	margin: 25px;
}

th {
  cursor: pointer;
}